server:
  port: 8081

spring:
  jackson:
    default-property-inclusion: non_null
  # 数据库连接配置
  datasource:
    username: qwq
    password: 2020shujukuxitong
    url: jdbc:mysql://47.102.140.37:3306/ouc2020?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=CST&allowMultiQueries=true
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.dbs.ce.entity
  #开启驼峰命名
  configuration:
    map-underscore-to-camel-case: true

#showSql
logging:
  level:
    com:
      example:
        mapper: debug