<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbs.ce.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.dbs.ce.entity.Course" >
    <id column="Cno" property="cno" jdbcType="CHAR" />
    <result column="Cname" property="cname" jdbcType="CHAR" />
    <result column="Cdept" property="cdept" jdbcType="CHAR" />
    <result column="Ccredit" property="ccredit" jdbcType="SMALLINT" />
    <result column="Cinfo" property="cinfo" jdbcType="CHAR" />
    <result column="Cteacher" property="cteacher" jdbcType="CHAR" />
    <result column="Cdate" property="cdate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Cno, Cname, Cdept, Ccredit, Cinfo, Cteacher, Cdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from course
    where Cno = #{cno,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from course
    where Cno = #{cno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dbs.ce.entity.Course" >
    insert into course (Cno, Cname, Cdept, Ccredit, 
      Cinfo, Cteacher, Cdate)
    values (#{cno,jdbcType=CHAR}, #{cname,jdbcType=CHAR}, #{cdept,jdbcType=CHAR}, #{ccredit,jdbcType=SMALLINT}, 
      #{cinfo,jdbcType=CHAR}, #{cteacher,jdbcType=CHAR}, #{cdate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbs.ce.entity.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        Cno,
      </if>
      <if test="cname != null" >
        Cname,
      </if>
      <if test="cdept != null" >
        Cdept,
      </if>
      <if test="ccredit != null" >
        Ccredit,
      </if>
      <if test="cinfo != null" >
        Cinfo,
      </if>
      <if test="cteacher != null" >
        Cteacher,
      </if>
      <if test="cdate != null" >
        Cdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        #{cno,jdbcType=CHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=CHAR},
      </if>
      <if test="cdept != null" >
        #{cdept,jdbcType=CHAR},
      </if>
      <if test="ccredit != null" >
        #{ccredit,jdbcType=SMALLINT},
      </if>
      <if test="cinfo != null" >
        #{cinfo,jdbcType=CHAR},
      </if>
      <if test="cteacher != null" >
        #{cteacher,jdbcType=CHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbs.ce.entity.Course" >
    update course
    <set >
      <if test="cname != null" >
        Cname = #{cname,jdbcType=CHAR},
      </if>
      <if test="cdept != null" >
        Cdept = #{cdept,jdbcType=CHAR},
      </if>
      <if test="ccredit != null" >
        Ccredit = #{ccredit,jdbcType=SMALLINT},
      </if>
      <if test="cinfo != null" >
        Cinfo = #{cinfo,jdbcType=CHAR},
      </if>
      <if test="cteacher != null" >
        Cteacher = #{cteacher,jdbcType=CHAR},
      </if>
      <if test="cdate != null" >
        Cdate = #{cdate,jdbcType=CHAR},
      </if>
    </set>
    where Cno = #{cno,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbs.ce.entity.Course" >
    update course
    set Cname = #{cname,jdbcType=CHAR},
      Cdept = #{cdept,jdbcType=CHAR},
      Ccredit = #{ccredit,jdbcType=SMALLINT},
      Cinfo = #{cinfo,jdbcType=CHAR},
      Cteacher = #{cteacher,jdbcType=CHAR},
      Cdate = #{cdate,jdbcType=CHAR}
    where Cno = #{cno,jdbcType=CHAR}
  </update>
</mapper>