<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbs.ce.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.dbs.ce.entity.Student">
    <id column="Sno" jdbcType="CHAR" property="sno" />
    <result column="Sname" jdbcType="CHAR" property="sname" />
    <result column="Ssex" jdbcType="CHAR" property="ssex" />
    <result column="Sage" jdbcType="SMALLINT" property="sage" />
    <result column="Sdept" jdbcType="CHAR" property="sdept" />
    <result column="Snick" jdbcType="CHAR" property="snick" />
  </resultMap>

   
</mapper>